* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Montserrat", sans-serif;
}

#root {
    display: flex;
    flex-direction: column;
    margin: 0 auto;
}

.container {
    max-width: 1500px;
    width: 100%;
    margin: 0 auto;
    padding: 0 15px;
}

.center {
    display: flex;
    min-height: 100vh;
    width: 100%;
    background-color: #333;

    aside {
        width: 17%;
        background-color: #fff;
        display: flex;
        flex-direction: column;
        padding: 40px 0;
        align-items: center;
        gap: 20px;

        .kabinet {
            display: flex;
            align-items: center;
            justify-content: center;
            gap: 10px;
            width: 100%;

            #menu-icon {
                display: none;
                font-size: 20px;

                .fa-solid,
                .fas {
                    font-weight: 900;
                    cursor: pointer;
                }
            }
            h1 {
                text-align: center;
            }
        }

        h1 {
            font-size: 22px;
            cursor: pointer;
        }
        .buttons {
            width: 100%;
            padding: 10px;
            gap: 10px;
            display: flex;
            flex-direction: column;
        }
        .tab-button {
            width: 100%;
            height: 50px;
            border: none;
            cursor: pointer;
            color: black;
            transition: all 0.3s ease;
            background-color: #fff;
            gap: 10px;
            display: flex;
            align-items: center;
            justify-content: center;
            padding: 10px;
            font-size: 19px;
            justify-content: start;
            &:hover {
                background-color: #eaae00;
                transform: scale(1.01);
                color: #fff;
            }

            &.active {
                background-color: #eaae00;
                transform: translateY(0);
                color: #fff;
            }
        }
    }

    main {
        flex: 1;
        padding: 40px;
        background-color: #f7f7f7;
        display: flex;
        flex-direction: column;

        #profile {
            width: 100%;
            display: flex;
            gap: 20px;
            padding: 40px;
            -webkit-box-shadow: -4px -1px 5px 0px rgb(63, 60, 60);
            -moz-box-shadow: -4px -1px 5px 0px rgb(193, 193, 193);
            box-shadow: -4px -1px 5px 0px rgb(210, 210, 210);
            background-color: #fff;

            .user-icon {
                width: 30%;
                height: 100%;
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: center;

                i {
                    font-size: 120px;
                    border: 1px solid rgb(118, 118, 118);
                    padding: 50px;
                    margin: 20px;
                    border-radius: 50%;
                    background-color: #f7f7f7;
                    color: #888;
                }
            }
            .datas {
                display: flex;
                flex-direction: column;
                justify-content: center;
                h2 {
                    font-size: 25px;
                }

                p {
                    font-size: 25px;
                }
            }
        }
        #murojaatlar {
            background-color: #fff;
            display: flex;
            flex-direction: column;
            width: 100%;
            height: fit-content;

            header {
                display: flex;
                width: 100%;
                justify-content: space-between;

                button {
                    width: 40px;
                    height: 40px;
                    background-color: #d89b00;
                    border: none;
                    border-radius: 4px;
                    color: white;

                    i {
                        font-size: 25px;
                    }
                }
            }
            .add_murojaat {
                display: none;
                flex-direction: column;
                align-items: center;
                width: 500px;
                height: auto;
                padding: 10px;
                -webkit-box-shadow: -4px -1px 5px 0px rgb(63, 60, 60);
                -moz-box-shadow: -4px -1px 5px 0px rgb(193, 193, 193);
                box-shadow: -4px -1px 5px 0px rgb(210, 210, 210);

                form {
                    display: flex;
                    flex-direction: column;
                    gap: 10px;
                    margin-bottom: 20px;
                    width: 100%;
                    input {
                        padding: 10px;
                        border: 1px solid #ccc;
                        border-radius: 4px;
                    }
                    button {
                        padding: 10px;
                        background-color: #eaae00;
                        color: #fff;
                        border: none;
                        border-radius: 4px;
                        cursor: pointer;
                        &:hover {
                            background-color: #d89b00;
                        }
                    }
                }
            }
            #active {
                display: flex;
                width: 500px;
                height: auto;
            }

            #murojaatlar-list {
                p {
                    padding: 10px;
                    border-bottom: 1px solid #eee;
                }
            }
        }
        #emlash {
            display: flex;
            flex-direction: column;
            justify-content: center;
            -webkit-box-shadow: -4px -1px 5px 0px rgb(63, 60, 60);
            -moz-box-shadow: -4px -1px 5px 0px rgb(193, 193, 193);
            box-shadow: -4px -1px 5px 0px rgb(210, 210, 210);
        }
        #notification {
            display: flex;
            flex-direction: column;
            align-items: center;
            width: 400px;
            gap: 20px;
            background-color: #fff;
            -webkit-box-shadow: -4px -1px 5px 0px rgb(63, 60, 60);
            -moz-box-shadow: -4px -1px 5px 0px rgb(193, 193, 193);
            box-shadow: -4px -1px 5px 0px rgb(210, 210, 210);

            h2 {
                font-size: 18px;
            }
        }
        .tab-content {
            height: auto;
            padding: 30px;
            display: none;
            opacity: 0;
            transform: translateY(10px);
            transition:
                opacity 0.3s ease,
                transform 0.3s ease;

            &.active {
                display: block;
                opacity: 1;
                transform: translateY(0);
            }

            h2 {
                color: black;
                margin-bottom: 20px;
                font-size: 24px;
            }

            p {
                color: black;
                font-size: 18px;
                margin-bottom: 10px;

                span {
                    color: #eaae00;
                }
            }
        }
    }
}

@media (max-width: 576px) {
    .center {
        display: flex;
        flex-direction: column;

        aside {
            height: 50px;
            width: 100%;
            justify-content: start;
            align-items: start;
            padding-left: 20px;
            .kabinet {
                display: flex;
                justify-content: start;
                gap: 20px;

                #menu-icon {
                    display: flex;
                }
            }
            #nav-menu {
                position: fixed;
                top: 0;
                left: -260px;
                width: 260px;
                height: 100vh;
                background-color: #eaae00;
                flex-direction: column;
                padding: 80px 20px 20px;
                box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
                transition: left 0.3s ease-in-out;
                z-index: 999;

                &.active {
                    left: 0;
                    li {
                        display: block;
                    }
                }
            }

            .buttons {
                display: none;
            }
        }
        main {
            padding: 20px;

            #profile {
                gap: 40px;
                .user-icon {
                    i {
                        font-size: 50px;
                        padding: 25px;
                    }
                }
                .datas {
                    h2 {
                        font-size: 20px;
                    }
                    p {
                        font-size: 15px;
                    }
                }
            }
        }
    }
}

@media (min-width: 577px) and (max-width: 1200px) {
    .center {
        display: flex;
        flex-direction: column;

        aside {
            height: 50px;
            width: 100%;
            justify-content: start;
            align-items: start;
            padding-left: 20px;
            .kabinet {
                display: flex;
                justify-content: start;
                gap: 20px;

                #menu-icon {
                    display: block;

                    i {
                        color: #000;
                    }
                }
            }

            .buttons {
                display: none;
            }
        }
        main {
            padding: 20px;

            #profile {
                gap: 40px;
                .user-icon {
                    i {
                        font-size: 90px;
                        padding: 40px;
                    }
                }
                .datas {
                    h2 {
                        font-size: 25px;
                    }
                    p {
                        font-size: 20px;
                    }
                }
            }
        }
    }
}
