* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Montserrat", sans-serif;
}

#root {
    display: flex;
    flex-direction: column;
    margin: 0 auto;
}

.container {
    max-width: 1500px;
    width: 100%;
    margin: 0 auto;
    padding: 0 15px;
}

.center {
    display: flex;
    height: 100vh;
    width: 100%;
    background-color: #333;

    aside {
        width: 17%;
        background-color: #fff;
        display: flex;
        flex-direction: column;
        padding: 40px 0;
        align-items: center;
        gap: 20px;
        justify-content: space-between;
        .exit {
            display: flex;
            flex-direction: column;
            width: 90%;
            button {
                height: 50px;
                background-color: #eaae00;
                border: none;
                color: white;
                cursor: pointer;
                font-size: 19px;
            }
        }

        div {
            display: flex;
            flex-direction: column;
            gap: 20px;
            width: 100%;
        }

        .kabinet {
            display: flex;
            align-items: center;
            justify-content: center;
            gap: 10px;
            width: 100%;
            #menu-icon {
                display: none;
                font-size: 20px;
                cursor: pointer;
                color: #000;
            }
            h1 {
                text-align: center;
            }
        }

        h1 {
            font-size: 22px;
            cursor: pointer;
        }
        .buttons {
            width: 100%;
            padding: 10px;
            gap: 10px;
            display: flex;
            flex-direction: column;

            a {
                text-decoration: none;
                color: black;
            }
        }
        .tab-button {
            width: 100%;
            height: 50px;
            border: none;
            cursor: pointer;
            transition: all 0.3s ease;
            gap: 10px;
            background-color: #fff;
            display: flex;
            align-items: center;
            justify-content: center;
            padding: 10px;
            font-size: 19px;
            justify-content: start;
            &:hover {
                background-color: #eaae00;
                transform: scale(1.01);
                color: #fff;
            }

            &.active {
                background-color: #eaae00;
                transform: translateY(0);
                color: #fff;
            }
        }
    }

    main {
        flex: 1;
        padding: 20px;
        background-color: #f7f7f7;
        display: flex;
        flex-direction: column;

        & > div {
            padding: 20px;
        }

        #profile {
            width: 100%;
            display: flex;
            gap: 20px;
            padding: 40px;
            -webkit-box-shadow: -4px -1px 5px 0px rgb(63, 60, 60);
            -moz-box-shadow: -4px -1px 5px 0px rgb(193, 193, 193);
            box-shadow: -4px -1px 5px 0px rgb(210, 210, 210);
            background-color: #fff;

            .user-icon {
                width: 30%;
                height: 100%;
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: center;

                i {
                    font-size: 120px;
                    border: 1px solid rgb(118, 118, 118);
                    padding: 50px;
                    margin: 20px;
                    border-radius: 50%;
                    background-color: #f7f7f7;
                    color: #888;
                }
            }
            .datas {
                display: flex;
                flex-direction: column;
                justify-content: center;
                h2 {
                    font-size: 25px;
                }

                p {
                    font-size: 25px;
                }
            }
        }
        #murojaatlar {
            display: flex;
            flex-direction: column;
            width: 100%;
            height: fit-content;
            gap: 40px;
            background-color: #fff;
            height: 100%;
            header {
                background-color: #fff;
                display: flex;
                width: 100%;
                justify-content: space-between;
                padding: 15px;
                border-bottom: 2px solid black;

                .murojaat_button {
                    width: 40px;
                    height: 40px;
                    background-color: #d89b00;
                    border: none;
                    border-radius: 4px;
                    color: white;
                    cursor: pointer;

                    i {
                        font-size: 25px;
                    }
                }
            }
            .post-murojat {
                display: flex;
                flex-wrap: wrap;
                width: 100%;
                height: auto;
                gap: 10px;

                .block_mur {
                    width: 300px;
                    gap: 5px;
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    background-color: #fff;
                    padding: 20px;
                    box-shadow:
                        rgba(60, 64, 67, 0.3) 0px 1px 2px 0px,
                        rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;
                    p {
                        width: 100%;
                        font-size: 15px;
                    }
                }
            }
            .add_murojaat {
                display: none;
                flex-direction: column;
                align-items: center;
                width: 500px;
                height: auto;
                padding: 10px;
                -webkit-box-shadow: -4px -1px 5px 0px rgb(63, 60, 60);
                -moz-box-shadow: -4px -1px 5px 0px rgb(193, 193, 193);
                box-shadow: -4px -1px 5px 0px rgb(210, 210, 210);

                form {
                    display: flex;
                    flex-direction: column;
                    gap: 10px;
                    margin-bottom: 20px;
                    width: 100%;
                    input {
                        padding: 10px;
                        border: 1px solid #ccc;
                        border-radius: 4px;
                    }
                    button {
                        padding: 10px;
                        background-color: #eaae00;
                        color: #fff;
                        border: none;
                        border-radius: 4px;
                        cursor: pointer;
                        &:hover {
                            background-color: #d89b00;
                        }
                    }
                }
            }
            #active {
                display: flex;
                width: 500px;
                height: auto;
            }
        }
        #emlash {
            display: flex;
            flex-direction: column;
            -webkit-box-shadow: -4px -1px 5px 0px rgb(63, 60, 60);
            -moz-box-shadow: -4px -1px 5px 0px rgb(193, 193, 193);
            box-shadow: -4px -1px 5px 0px rgb(210, 210, 210);
            background-color: #fff;
            height: 100%;
            h2 {
                border-bottom: 2px solid black;
                padding-bottom: 10px;
            }
            #posts {
                display: flex;
                flex-wrap: wrap;
                width: 100%;
                height: auto;
                gap: 10px;
                .post {
                    width: 300px;
                    gap: 5px;
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    background-color: #fff;
                    padding: 20px;
                    box-shadow:
                        rgba(60, 64, 67, 0.3) 0px 1px 2px 0px,
                        rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;

                  
                    p {
                        width: 100%;
                        font-size: 15px;
                    }
                }
            }
        }
        #notification {
            display: flex;
            flex-direction: column;
            align-items: center;
            width: 400px;
            gap: 20px;
            background-color: #fff;
            -webkit-box-shadow: -4px -1px 5px 0px rgb(63, 60, 60);
            -moz-box-shadow: -4px -1px 5px 0px rgb(193, 193, 193);
            box-shadow: -4px -1px 5px 0px rgb(210, 210, 210);

            h2 {
                font-size: 18px;
            }
        }
        .tab-content {
            height: auto;
            padding: 30px;
            opacity: 0;
            transform: translateY(10px);
            transition:
                opacity 0.3s ease,
                transform 0.3s ease;

            &.active {
                display: block;
                opacity: 1;
                transform: translateY(0);
            }

            h2 {
                color: black;
                margin-bottom: 20px;
                font-size: 24px;
            }

            p {
                color: black;
                font-size: 18px;
                margin-bottom: 10px;

                span {
                    color: #eaae00;
                }
            }
        }
    }
}
.modal-body {
    position: fixed;
    width: 100%;
    height: 100%;
    background-color: #00000042;
    z-index: 900;
    top: 0;
    right: 0;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    opacity: 0;
    pointer-events: none;

    form {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 100%;
        max-width: 450px;
        background: #fff;
        padding: 20px;
        width: 500px;
        height: auto;
        gap: 10px;
        display: flex;
        flex-direction: column;

        h2 {
            text-align: center;
        }
        button {
            padding: 10px;
            background-color: #eaae00;
            color: #fff;
            border: none;
            border-radius: 4px;
            cursor: pointer;
            &:hover {
                background-color: #d89b00;
            }
        }

        input {
            width: 100%;
            padding: 10px;
            border: 1px solid #ccc;
            border-radius: 4px;
        }
    }
}

@media (max-width: 576px) {
    .center {
        display: flex;
        flex-direction: column;

        aside {
            flex-direction: row;
            height: 50px;
            width: 100%;
            justify-content: space-between;
            padding-left: 10px;

            .exit {
                height: 50px;
                padding-right: 20px;
                align-items: end;
                justify-content: center;
                button {
                    height: 40px;
                    padding: 10px;
                    font-size: 20px;
                }
            }

            div {
                display: flex;
                flex-direction: row;
                .kabinet {
                    display: flex;
                    justify-content: start;
                    gap: 20px;

                    .way-to-home {
                        display: none;
                    }

                    #menu-icon {
                        display: flex;
                        flex-direction: row;
                        height: 50px;
                        align-items: center;
                        gap: 10px;
                        h1 {
                            font-size: 20px;
                        }
                        i {
                            font-size: 23px;
                        }
                    }
                }
                #nav-menu {
                    position: fixed;
                    top: 0;
                    left: -260px;
                    width: 260px;
                    height: 100vh;
                    background-color: #eaae00;
                    flex-direction: column;
                    padding: 80px 20px 20px;
                    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
                    transition: left 0.3s ease-in-out;
                    z-index: 999;

                    &.active {
                        left: 0;
                        .tab-button {
                            display: flex;
                            gap: 10px;
                            color: white;
                        }
                    }
                }
            }

            .tab-button {
                display: none;
                background-color: #eaae00;
                color: #fff;
                display: flex;
                gap: 10px;
                border-bottom: 1px solid rgba(255, 255, 255, 0.1);

                &:hover {
                    background-color: rgba(255, 255, 255, 0.1);
                }

                &.active {
                    transform: translateY(0);
                    background-color: rgba(255, 255, 255, 0.1);
                }

                body.menu-open {
                    &::after {
                        content: "";
                        position: fixed;
                        top: 0;
                        left: 0;
                        width: 100%;
                        height: 100%;
                        background: rgba(0, 0, 0, 0.5);
                        z-index: 999;
                    }
                }
            }
        }
        main {
            padding: 20px;

            #profile {
                gap: 40px;
                .user-icon {
                    i {
                        font-size: 50px;
                        padding: 25px;
                    }
                }
                .datas {
                    h2 {
                        font-size: 20px;
                    }
                    p {
                        font-size: 15px;
                    }
                }
            }
            #murojaatlar > .post-murojat {
                justify-content: center;
                align-items: center;
            }
        }
    }
}

@media (min-width: 577px) and (max-width: 1200px) {
    .center {
        display: flex;
        flex-direction: column;

        aside {
            flex-direction: row;
            height: 50px;
            width: 100%;
            justify-content: space-between;
            padding-left: 20px;

            .exit {
                height: 50px;
                padding-right: 20px;
                align-items: end;
                justify-content: center;
                button {
                    height: 40px;
                    padding: 10px;
                    font-size: 20px;
                }
            }

            div {
                display: flex;
                flex-direction: row;
                .kabinet {
                    display: flex;
                    justify-content: start;
                    gap: 20px;

                    .way-to-home {
                        display: none;
                    }

                    #menu-icon {
                        display: flex;
                        flex-direction: row;
                        height: 50px;
                        align-items: center;
                        gap: 10px;
                        h1 {
                            font-size: 22px;
                        }
                        i {
                            font-size: 25px;
                        }
                    }
                }
                #nav-menu {
                    position: fixed;
                    top: 0;
                    left: -260px;
                    width: 260px;
                    height: 100vh;
                    background-color: #eaae00;
                    flex-direction: column;
                    padding: 80px 20px 20px;
                    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
                    transition: left 0.3s ease-in-out;
                    z-index: 999;

                    &.active {
                        left: 0;
                        .tab-button {
                            display: flex;
                            gap: 10px;
                            color: white;
                        }
                    }
                }
            }

            .tab-button {
                display: none;
                background-color: #eaae00;
                color: #fff;
                display: flex;
                gap: 10px;
                border-bottom: 1px solid rgba(255, 255, 255, 0.1);

                &:hover {
                    background-color: rgba(255, 255, 255, 0.1);
                }

                &.active {
                    transform: translateY(0);
                }

                body.menu-open {
                    &::after {
                        content: "";
                        position: fixed;
                        top: 0;
                        left: 0;
                        width: 100%;
                        height: 100%;
                        background: rgba(0, 0, 0, 0.5);
                        z-index: 999;
                    }
                }
            }
        }
        main {
            padding: 20px;

            #profile {
                gap: 40px;
                .user-icon {
                    i {
                        font-size: 90px;
                        padding: 40px;
                    }
                }
                .datas {
                    h2 {
                        font-size: 25px;
                    }
                    p {
                        font-size: 20px;
                    }
                }
            }
        }
    }
}
