* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Montserrat", sans-serif;
    overscroll-behavior: none;
}

#root {
    display: flex;
    flex-direction: column;
    margin: 0 auto;
}

.page_login {
    height: calc(100vh - 123px);
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: center;

    .container {
        display: flex;
        width: 60%;
        box-shadow:
            rgba(0, 0, 0, 0.16) 0px 3px 6px,
            rgba(0, 0, 0, 0.23) 0px 3px 6px;

        border-radius: 20px;
        overflow: hidden;
        justify-content: center;
        padding: 0;

        .child1 {
            display: flex;
            flex-direction: column;
            align-items: center;
            width: 60%;
            justify-content: center;
            gap: 30px;
            padding: 100px 0;
            .greet {
                text-align: center;
            }
            form {
                display: flex;
                flex-direction: column;
                align-items: center;
                width: 100%;

                label {
                    padding: 20px;
                    border-radius: 20px;
                    display: flex;
                    gap: 10px;
                    width: 80%;
                    height: 55px;
                    align-items: center;
                    box-shadow: 2px 2px 15px #ccc;
                }
                i {
                    color: #eaae00;
                    font-size: 20px;
                }
                input {
                    border: none;
                    width: 90%;
                    font-size: large;
                    text-decoration: none;
                    color: #eaae00;
                }
                input:focus {
                    outline: none;
                }
                input::placeholder {
                    color: black;
                    font-weight: 300;
                }
            }
            p {
                text-align: center;
                color: black;

                a {
                    text-decoration: none;
                    color: rgb(66, 59, 59);
                }
            }
            button {
                width: 160px;
                height: 40px;
                border-radius: 30px;
                background-color: #eaae00;
                font-weight: 900;
                color: white;
                box-shadow: 2px 2px 20px 1px #eaae00;
                border: none;
                cursor: pointer;
            }
        }

        .child2 {
            display: flex;
            flex-direction: column;
            align-items: center;
            width: 40%;
            justify-content: center;
            background-color: #eaae00;
            padding: 20px;
            text-align: center;

            h1,
            p {
                color: white;
            }
        }
    }
}

@media (max-width: 576px) {
    .container {
        padding: 0 10px;
    }

    nav {
        flex-direction: row;
        justify-content: space-around;
        padding: 0;

        .container {
            justify-content: space-between;
        }

        .logo_menu {
            display: flex;
            align-items: center;
            gap: 5px;
        }
        .menu-icon {
            display: block;
        }
        .logo {
            width: 120px;
        }

        ul > li {
            display: none;
        }
    }
}
@media (max-width: 1200px) {
    .container {
        max-width: 960px;
    }

    nav {
        height: 100px;
        padding: 0;

        .container {
            justify-content: space-between;
        }

        .logo_menu {
            display: flex;
            align-items: center;
            gap: 5px;
        }
        .menu-icon {
            display: block;
        }
        .logo {
            width: 180px;
        }
        ul {
            display: none;
        }
        form {
            width: 200px;
            height: 50px;
            input {
                font-size: 18px;
            }
            .search-icon {
                width: 60px;
            }
        }
    }
}
